body {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.gopher {
    background-image: url(images/go-logo.png);
    width: 250px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.gopher:hover {
    background-image: url(images/gopher.gif);
}